<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.min (1).css">
</head>
<body class="d-flex flex-column">
    <header>
        <header>
            {% include 'header.html' %}
          </header>
    </header>
    <main class="container mt-5 flex-fill">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="bg-dark text-light text-center py-3 mt-5">
    {% include "footer.html" %} 
    </footer>

    <script src="static/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
</body>
</html>