{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Vaga{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cadastrar Nova Vaga</h1>

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}

            <form action="/cadastrar_vaga" method="post">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título da Vaga</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição da Vaga</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="5" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="formato" class="form-label">Formato de Trabalho</label>
                    <select class="form-select" id="formato" name="formato" required>
                        <option value="Presencial">Presencial</option>
                        <option value="Remoto">Remoto</option>
                        <option value="Híbrido">Híbrido</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo de Contrato</label>
                    <select class="form-select" id="tipo" name="tipo" required>
                        <option value="CLT">CLT</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="local" class="form-label">Local da Vaga (se aplicável)</label>
                    <input type="text" class="form-control" id="local" name="local">
                </div>
                <div class="mb-3">
                    <label for="salario" class="form-label">Salário (opcional)</label>
                    <input type="text" class="form-control" id="salario" name="salario">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar Vaga</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}