<div class="container">
   <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <!-- Coluna 1: Sobre Nós -->
          <div class="col-md-4">
            <h5>Sobre Nós</h5>
            <p>A empreGO! nasceu com a missão de conectar talentos a oportunidades. Simplificamos a busca por empregos e ajudamos empresas a encontrarem os melhores profissionais.</p>
          </div>
          <!-- Coluna 2: Contato -->
          <div class="col-md-4">
            <h5>Contato</h5>
            <p><strong>Endereço:</strong> Rua das Oportunidades, 123<br>Centro, Empregolândia - SP</p>
            <p><strong>Telefone:</strong> (11) 4002-8922</p>
            <p><strong>E-mail:</strong> contato@emprego.com.br</p>
          </div>
          <!-- Coluna 3: Redes Sociais -->
          <div class="col-md-4">
            <h5>Redes Sociais</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">🌐 Facebook</a></li>
              <li><a href="#" class="text-white text-decoration-none">🐦 Twitter</a></li>
              <li><a href="#" class="text-white text-decoration-none">📸 Instagram</a></li>
            </ul>
          </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
          <small>© 2024 empreGO! - Todos os direitos reservados.</small>
        </div>
      </div>
    </footer>
    

</div>
    
